@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #2D2826;
  --hub-accent: #F4333F;
  --hub-accent-light: #FEF2F2;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.hub-nav-link:hover {
  border-bottom-color: var(--hub-accent);
}

.hub-accent-border-top {
  border-top: 3px solid var(--hub-accent);
}
